body {
	margin: 0;
}

div {
	font-family: "Gilda Display", serif;
	color: #4E78A2;
	text-transform: uppercase;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.lowercase-font {
	font-family: "Nanum Myeongjo", serif;
	font-weight: 400;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: #4E78A2;
	letter-spacing: 1px;
}

h1 {
	font-size: 32px;
	letter-spacing: 1px;
	text-transform: none;

}

h2 {
	font-size: 25px;
	letter-spacing: 0px;
	text-transform: none;
	margin: 32px 0 8px;
}

p {
	margin: 8px 0px;
	font-family: "Nanum Myeongjo", serif;
	font-weight: 200;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: #4E78A2;
	letter-spacing: 0px;
	font-size: 20px;
}

b {
	font-weight: 700;
}

a {
	color: #4E78A2;
}

ul {
	font-family: "Nanum Myeongjo", serif;
	font-weight: 200;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: #4E78A2;
	letter-spacing: 0px;
	font-size: 20px;
}

li {
	margin: 4px 0;
}

li.sub-bullet {
	margin-left: 32px;
}


.text-body {
	display: flex;
	justify-content: center;
}

.text-body-section {
	width: 800px;
}

.title-and-nav {
	margin: 60px 16px;
}

.general-info-header {
	display: grid;
	justify-items: center;
	margin: 80px 0;
}


.general-info-header-link {
	text-decoration: none;
}

.names-header {
	font-size: 58px;
	letter-spacing: 6px;
	text-decoration: none;
}

.date-location {
	font-size: 20px;
	letter-spacing: 2px;
}

.desktop-nav {
	display: flex;
	justify-content: center;
	padding: 8px 16px;
}

.desktop-nav-item-container {
	padding: 0px 8px;
}

.desktop-nav-item {
	padding: 8px 8px 6px;
	text-align: center;

	font-size: 16px;
	letter-spacing: 2px;
}

.desktop-nav-item.selected {
	border-bottom-color: #4E78A2;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.cover-image-container {
	display: flex;
	justify-content: center;
	margin: 60px 0;
}

.cover-image {
	width: 100%;
	box-sizing: border-box;
	max-width: 1580px;
	padding: 0 40px;
}

.hsplit-section-container {
	display: flex;
	justify-content: center;
	margin: 60px 0;
}

.hsplit-section {
	display: flex;

	font-size: 42px;
	text-align: center;
	letter-spacing: 3px;
	line-height: 1.3;
}

.hsplit-subsection {
	display: flex;
	align-items: center;
	flex-direction: row;

	width: 315px;
	height: 200px;
	padding: 20px 40px;

	border-right-color: #4E78A2;
	border-right-width: 1px;
	border-right-style: solid;
}

.hsplit-subsection.last {
	border-right-width: 0px;
}

.events-container {
	display: grid;
	justify-items: center;
	text-align: center;

	margin: 60px 0;
}

.event {
	margin: 30px 0;
}

.event-title {
	font-size: 30px;
	letter-spacing: 3px;
	line-height: 1.3;
}

.event-subtitle {
	font-size: 20px;
	letter-spacing: 3px;
}

.event-venue {
	margin-top: 20px;
	line-height: 1.6;
}

.story-container {
	display: flex;
	justify-content: center;
	flex-direction: column;

	margin: 60px 0;
}

.story-entry {
	margin: 0 auto;
	display: flex;
	width: 700px;
	margin-bottom: 25px;
}

.story-entry-header {
	display: block;
	text-align: center;
	font-weight: bold;
	margin-bottom: 8px;
}

.story-entry.vertical {
	flex-direction: column;
}

.story-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto 0;
	object-fit: contain;
}

.story-image.full {
	margin: 25px auto 10px;
	width: 100%;
	max-width: none;
	max-height: none;
}

.story-image.left {
	margin-right: 30px;
}

.story-image.right {
	margin-left: 30px;
}

.story-image.rot-neg-12 {
	transform: rotate(-12deg);
}

.story-image.rot-neg-8 {
	transform: rotate(-8deg);
}

.story-image.rot-neg-10 {
	transform: rotate(-10deg);
}

.story-image.rot-8 {
	transform: rotate(8deg);
}

.story-image.rot-16 {
	transform: rotate(8deg);
}

.story-image.rot-10 {
	transform: rotate(10deg);
}

.story-text {
	margin: auto 0;
	text-align: center;
	font-size: 15px;
}

.story-text.left {
	text-align: start;
}

.story-text.right {
	text-align: end;
}

.story-text.full {
	display: block;
}

.footer-container {
	display: flex;
	justify-content: center;
	text-align: center;

	margin: 60px 0 80px;
}

.footer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.footer-title {
	font-size: 58px;
	letter-spacing: 6px;

	padding: 0px 18px 16px;

	border-bottom-color: #4E78A2;
	border-bottom-width: 1px;
	border-bottom-style: solid;

	margin-top: 24px;
}

.footer-date {
	font-size: 20px;
	letter-spacing: 2px;

	padding: 16px 18px 0px;
}

.footer-contact {
	font-size: 15px;
	padding: 0px 50px 16px;
}

.footer-acknowledgements {
	font-size: 12px;
	padding: 0px 50px 16px;
}

@media (max-width: 900px) {

	.desktop-nav {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}


	.names-header {
		font-size: 48px;
	}

	.date-location {
		font-size: 15px;
	}

	.text-body-section {
		margin: 0 50px;
		width: auto;
	}

	.text-body-section.form-embed {
		margin: 0 50px;
		width: 90%;
	}

	.cover-image {
		padding: 0 40px;
	}

	.hsplit-section {
		font-size: 30px;
	}

	.hsplit-subsection {
		width: 200px;
		height: 150px;
		padding: 10px 20px;
	}

	.story-entry {
		width: 500px;
	}

	.story-image {
		max-width: 100px;
		max-height: 100px;
	}

	.story-image.tilted-left {
		margin-right: 15px;
	}

	.story-image.tilted-right {
		margin-left: 15px;
	}

	.story-text {
		font-size: 14px;
	}

}

@media (max-width: 600px) {

	h1 {
		font-size: 25px;
		letter-spacing: 1px;
		text-transform: none;

	}

	h2 {
		font-size: 20px;
		letter-spacing: 0px;
		text-transform: none;
		margin: 32px 0 8px;
	}

	p {
		font-size: 18px;
		margin: 8px 0px;
	}

	ul {
		font-family: "Nanum Myeongjo", serif;
		font-weight: 200;
		font-style: normal;
		text-transform: none;
		text-decoration: none;
		color: #4E78A2;
		letter-spacing: 0px;
		font-size: 17px;
	}

	.text-body {
		display: flex;
		justify-content: center;
	}

	.text-body-section {
		margin: 0 25px;
		width: auto;
	}

	.text-body-section.form-embed {
		margin: 0 25px;
		width: 90%;
	}

	.title-and-nav {
		margin: 40px 16px;
	}

	.general-info-header {
		margin: 80px 0 40px;
	}

	.cover-image {
		padding: 0;
	}

	.cover-image-container {
		margin: 30px 0px;
	}

	.names-header {
		font-style: normal;
		font-size: 32px;
		letter-spacing: 6px;
		font-weight: 400;
	}

	.date-location {
		font-style: normal;
		font-size: 13px;
		letter-spacing: 2px;
	}

	.desktop-nav {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	.hsplit-section-container {
		margin: 30px 0px;
	}

	.hsplit-section {
		font-size: 20px;
	}

	.hsplit-subsection {
		width: 100px;
		height: 100px;
		padding: 5px 15px;
	}

	.events-container {
		margin: 30px 0;
	}

	.event {
		margin: 15px 0;
	}

	.event-title {
		font-size: 20px;
		letter-spacing: 3px;
		line-height: 1.3;
	}

	.event-subtitle {
		font-size: 13px;
		letter-spacing: 3px;
	}

	.event-venue {
		margin-top: 20px;
		font-size: 13px;
	}

	.event-address {
		font-size: 13px;
	}

	.story-header {
		font-size: 24px;
		letter-spacing: 3px;
		margin-bottom: 12px;
	}

	.story-subheader {
		font-size: 13px;
		margin-bottom: 25px;
	}

	.story-entry {
		width: 80%;
		flex-direction: column;
	}

	.story-entry.image-right {
		flex-direction: column-reverse;
	}

	.story-image {
		max-width: 600px;
		max-height: 200px;

		transform: none !important;
		margin: 0 auto 12px !important;
	}

	.story-text {
		font-size: 17px;
		text-align: center !important;
	}

	.footer-title {
		font-size: 32px;
		letter-spacing: 6px;

		padding: 0px 18px 12px;
	}

	.footer-date {
		font-size: 13px;
		letter-spacing: 2px;

		padding: 12px 18px 0px;
	}
}
